<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Server.dll" version="15.0.4789.1000" targetFramework="net45" />
  <package id="Microsoft.Office.Server.UserProfiles.dll" version="15.0.4849.1000" targetFramework="net45" />
  <package id="Microsoft.SharePoint.dll" version="15.0.4867.1000" targetFramework="net45" />
  <package id="Microsoft.SharePoint.Publishing.dll" version="15.0.4867.1000" targetFramework="net45" />
</packages>